<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TRANG CHỦ</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="JS/script.js"></script>
    <script src="JS/jquery.superslides.min.js"></script>
    <link rel="stylesheet" href="css/thanhTopStyle.css">
    <link rel="stylesheet" href="css/styleTrangchu.css">
</head>
<a href="/">trang chủ</a>

<section class="wthree-row py-5" style="background-color:greenyellow">
    <div class="container py-xl-5 py-lg-3">
        <ul class="demo row list-unstyled">
            <% 
                pos.forEach(function(rows){
                %>
                <li class="col-lg-6 col-md-6">
                    <div class="creatives-grid">

                        <a href="/<%=rows.type%>/<%=rows.id%>">
                            <!----->
                            <img src="<%=rows.image2%>" alt=" " class="img-fluid">
                        </a>

                        <div class="p-mask img-thumbnail">

                            <h4>
                                <a href="/<%=rows.type%>/<%=rows.id%>">
                                    <%=rows.name%>
                                </a>
                            </h4>

                            <span class="let mt-3"><%=rows.time%></span>

                        </div>
                    </div>
                </li>
                <%
                }) 
            %>
        </ul>
    </div>
</section>